.channeluser{
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgba(183, 183, 183, 0.489);
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.channeluser p{
    font-weight: bolder;
}